<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script> 
$(document).ready(function(){
    $("#toggle").click(function(){
        $("#explanations").slideToggle("slow");
    });
    $("#challenges").click(function(){
        $("#observations").slideToggle("slow");
    });
    $("#todo1").click(function(){
        $("#todo2").slideToggle("slow");
    });


});
</script>

<div id="toggle"><h1>Timeline</h1></div>
  <div id="explanations" style="display:none">
      <div class = "panel panel-info">
        <div class = "panel-heading">
          <h2>Day 1</h2>
          <ul>
              <li>Poked around data.seattle.gov</li>
              <li>Set up skeleton of Rails application</li>
              <li>Set up Twitter Bootstrap, navbar, links</li>
              <li>Generated model to store datapoints</li>
              <li>Refresher on HTML, CSS, JS, Jquery
          </ul>
        </div>
      </div>

       <div class = "panel panel-info">
        <div class = "panel-heading">     
          <h2>Day 2</h2>
          <ul>
              <li>Learned to query Socrata API</li>
              <li>Watched RailCasts videos on integrating HighCharts into Rails</li>
              <li>Set up Twitter Bootstrap, navbar, links</li>
              <li>Generated model to store datapoints</li>
          </ul>
          </div>
        </div>

        <div class = "panel panel-info">
          <div class = "panel-heading">
            <h2>Day 3</h2>
            <ul>
                <li>Replaced hard-coded datapoints on the graphs with dynamic content</li>
                <li>Played around with CSS</li>
                <li>Added code snippets and explained thought process</li>
                <li>Wasted a lot time taking screenshots of code because I didn't know how to use escape sequences in .erb</li>
            </ul>
          </div>
        </div>

        <div class = "panel panel-info">
          <div class = "panel-heading">
          <h2>Day 4</h2>
          <ul>
              <li>Created form to allow users to generate their own timepoints</li>
              <li>Watched RailCasts videos on integrating HighCharts into Rails</li>
              <li>Set up Twitter Bootstrap, navbar, links</li>
              <li>Generated model to store datapoints</li>
          </ul>
        </div>
      </div>
  </div>
  
<div id="challenges"><h1> Unresolved Issues </h1></div>
    <div id="observations" style="display:none;">
      <div class = "panel panel-info">
            <div class = "panel-heading">
              <h4>
                <ul style="list-style-type:circle">
                  <li>The dataset is missing entries. As the counter records the number of cyclists that pass over the bridge each hour, I would expect each day to contain 24 entries. Many days are 'missing' counts for various hours. This makes averaging tallies and using the GROUP BY query more difficult.</li>
                  <li>
                  <li>Still unable to resize images  </li>
                  <li>As the number of cyclists is an integer, I naturally generated my initial Active Record model as rails g model date:string num_cyclists_west:integer num_cyclists:integer . Querying the API, however, I saw that only the 'date' field was being populated. I eventually destroyed the model and tried string attributes instead, which worked: rails g model date:string num_cyclists_west:string num_cyclists:string <li>
                </ul> 
              </h4> 
            </div>
          </div>
</div>

<div id="todo1"><h1> To Do List  </h1></div>
    <div id="todo2" style="display:none;">
      <div class = "panel panel-info">
            <div class = "panel-heading">
              <h4>
                <ul style="list-style-type:circle">
                  <li>Learn to resize screenshots with the image tag</li>
                  <li>Cache data so each GET request to the views does not trigger a new API query</li>
                  <li>Still unable to resize images  </li>
                  <li>As the number of cyclists is an integer, I naturally generated my initial Active Record model as rails g model date:string num_cyclists_west:integer num_cyclists:integer . Querying the API, however, I saw that only the 'date' field was being populated. I eventually destroyed the model and tried string attributes instead, which worked: rails g model date:string num_cyclists_west:string num_cyclists:string <li>
                  <li>Add validations to ensure that the interval between the two dates that a user enters is not greater than 1000 hours. </li>
                  <li>Take advantage of the Rails 4 Turbolinks. Turbolinks keeps the current page instance alive by replacing only the body or parts of the title in the head. This speeds up the process of following links in the web application because the browser no longer needs to recompile the JavaScript and CSS between each page change.</li>
                </ul> 
              </h4> 
            </div>
          </div>
</div>
