          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Issues/Problems </h2>
            <ul style="list-style-type:circle">
              <li>The rawjson action is able to query the API from my local server, but the deployed app on Heroku is unable to.</li>
              <li>The original dataset has hundreds of rows in which the number of cyclists that passed over the west sidewalk is equal to the number that passed over the east sidewalk. </li>
              <li>Milk</li>
            </ul>  
            </div>
          </div>