          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h1> Challenges and Issues </h1>
            <ul style="list-style-type:circle">
              <li>The rawjson action is able to query the API from my local server, but the deployed app on Heroku is unable to.</li>
              <li>The original dataset has hundreds of rows in which the number of cyclists that passed over the west sidewalk is equal to the number that passed over the east sidewalk. </li>
              <li>The dataset is missing entries. As the counter records the number of cyclists that pass over the bridge each hour, I would expect each day to contain 24 entries. Many days are 'missing' counts for various hours. This makes averaging tallies and using the GROUP BY query more difficult.</li>
            </ul>  
            </div>
          </div>