<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <%= javascript_include_tag('test.js') %>

</head>
<body>

</body>
</html>



<h1>This is the chart page</h1>
<p>Sample graph here using Highcharts</p>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


