<!DOCTYPE html>
<html>
<head>
  <title>Sample Chart</title>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <%= javascript_include_tag('test.js') %>

</head>
<body>

</body>
</html>



<h5>If this page is blank, please refresh the page.</h5>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


