<!DOCTYPE html>
<html>
<head>
  <title>Sample Chart</title>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <%= javascript_include_tag('test.js') %>

</head>
<body>

</body>
</html>



<h1>This is a sample gragh was generated using HighCharts using static data</h1>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


