<!DOCTYPE html>
<html>
<head>
  <title>Nordstrom Internship Homework</title>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <%= javascript_include_tag('test.js') %>
</head>
<body>


</body>
</html>


          <body>
          <h1 class="text-center">Nordstrom Internship Homework</h1>
          <h3 class="text-center">Using the City of Seattle's API, https://data.seattle.gov, develop a process for continually polling/ collecting available dataset(s).</h3>
          <h5 class="text-center">Robert Ip</h5>
            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h3>As an avid runner and biker, when I last stayed in Seattle I frequently ran over the Fremont Bridge to get to Gas Works Park. In this Rails app, I use the <a href="https://data.seattle.gov/Transportation/Fremont-Bridge-Hourly-Bicycle-Counts-by-Month-Octo/65db-xm6k"><strong>Fremont Bridge Bicycle Counter dataset</strong></a> to show trends in bicycle traffic over the Fremont Bridge. </h3>
          <h4><i>The Fremont Bridge Bicycle Counter records the number of bikes that cross the bridge using the pedestrian/bicycle pathways. Inductive loops on the east and west pathways count the passing of bicycles regardless of travel direction. The data consists of a date/time field: Date, east pathway count field: Fremont Bridge NB, and west pathway count field: Fremont Bridge SB. The count fields represent the total bicycles detected during the specified one hour period. Direction of travel is not specified, but in general most traffic in the Fremont Bridge NB field is travelling northbound and most traffic in the Fremont Bridge SB field is travelling southbound.</i></h4>
          </div>
            </div>
          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


</body>
</html>