<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>

</head>
<body>


</body>
</html>



<h1>This is the index page</h1>
<p>This is the static page for Robert's app</p>
<%= link_to "Click here for some beautiful charts", action: "chart" %>

