<!DOCTYPE html>
<html>
<head>
  <title>Nordstrom Internship Homework</title>
</head>
<body>


</body>
</html>


          <body>
          <h1 class="text-center">Nordstrom Internship Homework</h1>
          <h5 class="text-center">Robert Ip<span class="glyphicon glyphicon-user"></span></h5>
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle text-center" type="button" data-toggle="dropdown">Technologies and Languages
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Ruby on Rails</li>
                <li>Java</li>
                <li>C++</li>
              </ul>
          </div>
          </br>
          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Technologies used </h2>
          <p>Ruby on Rails </p>
          <p>Highcharts </p>

            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Dataset </h2>
          <p>As an avid runner and cyclist, I decided to play around with the <a href="https://data.seattle.gov/Transportation/Fremont-Bridge-Hourly-Bicycle-Counts-by-Month-Octo/65db-xm6k"><strong>4xy5-26gy dataset</strong></a> on <strong>https://data.seattle.gov/</strong>, which keeps an hourly tab of the number of pedestrians and cyclists on Fremont Bridge. </p>
          <p>The dataset consists of just three columns and is suitable for a short homework:
			date/time field: Date
			east pathway count field: Fremont Bridge NB
			west pathway count field: Fremont Bridge SB
		  </p>

            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
            <h2>Challenges </h2>
          <p>Blah blah blah</p>
            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Goals </h2>
            <p>It migh be interesting to compare this data with crash statistics/traffic accidents over the same time intervals</p>
            </div>
          </div>


<%= link_to "Click here for some beautiful charts", action: "chart" %>

