<!DOCTYPE html>
<html>
<head>
  <title>Nordstrom Internship Homework</title>
</head>
<body>


</body>
</html>


          <body>
          <h1 class="text-center">Nordstrom Internship Homework</h1>
          <h5 class="text-center">Robert Ip<span class="glyphicon glyphicon-user"></span></h5>
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle text-center" type="button" data-toggle="dropdown">Technologies and Languages
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Ruby on Rails</li>
                <li>Java</li>
                <li>C++</li>
              </ul>
          </div>
          </br>
          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Technologies used </h2>
          <p>Ruby on Rails </p>
          <p>Highcharts </p>

            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Dataset </h2>
          <p>As an avid runner and biker, when I last stayed in Seattle I frequently ran over the Fremont Bridge to get to Gas Works Park. In this Rails app, I use the <a href="https://data.seattle.gov/Transportation/Fremont-Bridge-Hourly-Bicycle-Counts-by-Month-Octo/65db-xm6k"><strong>Fremont Bridge Bicycle Counter dataset</strong></a> to show trends in bicycle traffic over the Fremont Bridge. </p>
          <p>I used the <a href="https:github.com/socrata/soda-ruby"><strong>soda-ruby</strong></a> gem to pull data from the Socrata Seattle Open Data API.</p>
            </div>
          </div>
          <pre class="prettyprint">
            require 'soda/client'
            require 'pp' #pretty printer for Ruby objects

            client = SODA::Client.new({:domain => "data.seattle.gov/",
                           :app_token => "AU94c3BhpwNnRY8ExL34d2W4x"})

            records = client.get("4xy5-26gy", {"$where" => "date > '2014-01-01T12:00:00' AND date < '2014-01-02T12:00:00'"})
            pp records
          </pre>  

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h4>The above code</h4>
            <ol type="1">
              <ul>1. Instantiates client </ul>
              <ul>2. Sends a GET request to endpoint for rows with timestamps between 1/1/2014 and 1/02/2014, then stores the results in the variable records</ul>
              <ul>3. Prints the hash to the console </ul>
            </ol>

            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
            <h2>Challenges </h2>
          <p>After watching Michael Bate's 2010 RailsCasts tutorial on integrating HighCharts into Rails and making a few HighCharts graphs with hard-coded data using pure javascript, I decided to use Miguel Martinez's <a href="https://github.com/michelson/lazy_high_charts"><strong>LazyHighCharts gem.</strong></a> </p>
            </div>
          </div>

          <div class = "panel panel-info">
            <div class = "panel-heading">
          <h2> Goals </h2>
            <p>It migh be interesting to compare this data with crash statistics/traffic accidents over the same time intervals</p>
            </div>
          </div>


<%= link_to "Click here for some beautiful charts", action: "chart" %>

