

div.background {
    background: url("seattle.jpg") ;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    
}

#create {
    margin: 30px;
    background-color: #CCFFCC;
    border: 1px solid black;
    opacity: 0.9;
}

#create1 {
    margin: 30px;
    background-color: #FFFFCC;
    border: 1px solid black;
    opacity: 0.9;
}

#jscode {

    background-color: #FFFFCC;
    
    opacity: 0.9;
}

.panel {
	background-color: yellow;
}

#nav li.current_page_item a{
color: #7a2323;
}

#warning {
	color: red;
}

#navvv a:link, a:visited {
    font-weight: bold;
    color: #066;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
#navvv a:hover, a:active {
    display: block;
    background-color: #066;
    color: #fff;
}
#navvv a.selected:link, a.selected:active{
    display: block;
    background-color: #066;
    color: #fff;
}

#navvv a.selected:hover, a.selected:visited {
    display: block;
    background-color: #066;
    color: #fff;
}


#toggle a:hover {
    text-decoration: underline !important;
}